{% if current or weatherData %}
    {% if weatherData %}
        {% set current = weatherData.current %}
    {% endif %}
    <table class="{{ config.tableClass }}, current">
        <tr {% if config.colored %}class="colored"{% endif %} >
        <td>    
            <div class="large light">
                <span class="wi weathericon wi-{{current.weatherType}}"></span>
                <span class="bright">
                    {{ current.temperature | roundValue | unit("temperature") | decimalSymbol }}
                </span>
            </div>
        </td>
        <td>
        {% if config.showSun %}
        <span>
            <div class="normal medium">
                    <span class="wi dimmed wi-sunrise"></span>
                    <span>
                        {{ current.sunrise | formatTime }}
                    </span>
            </div>
            <div class="normal medium">
                    <span class="wi dimmed wi-sunset"></span>
                    <span>
                        {{ current.sunset | formatTime }}
                    </span>
            </div>
        </span>
        {% endif %}
        </td>
        </tr>
    </table>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate | safe }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `current` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{current | dump}}</div> -->
