{% if hourly or weatherData %}
    {% if weatherData %}
        {% set hourly = weatherData.hours %}
    {% endif %}
    {% set numSteps = hourly | calcNumEntries %}
    {% set hours = hourly.slice(0, numSteps) %}
    <table class="{{ config.tableClass }}">
        <tr {% if config.colored %}class="colored"{% endif %} >
        {% for hour in hours %}
            <td class="bright weather-icon">{{ hour.temperature | roundValue | unit("temperature") }} <span class="wi weathericon wi-{{ hour.weatherType }}"></span></td>
        {% endfor %}
        </tr>
        <tr {% if config.colored %}class="colored"{% endif %} >
        {% for hour in hours %}
            <td class="day">{{ hour.date | formatTime }}</td>
        {% endfor %}
        </tr>
    </table>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate | safe }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `hourly` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{weatherData | dump}}</div> -->
